<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DATA JSON - API</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="sb-admin.css" rel="stylesheet">
  <style type="text/css">
    body {background-color: black; margin: 0 auto!important;}
    a { text-decoration: none!important; color: white}
    h1,h2 { text-align: center; margin-top: 80px;}
    h1{ text-align: center; margin-top: 150px; color: white}
  </style>

</head>

<body>
  <h1><b>EXPORT DATA TO JSON</b></h1>
  <a href="/api/phapluat_data"><h2>Lấy dữ liệu về các bài viết Pháp luật</h2></a>
  <a href="/api/xahoi_data"><h2>Lấy dữ liệu về các bài viết Xã hội</h2></a>
  <a href="/api/giaoduc_data"><h2>Lấy dữ liệu về các bài viết Giáo dục</h2></a>

</body>

</html>
