<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<title>Team info</title>
<!-- CSS Files-->
<link rel="stylesheet" href="style.css">

<link rel="stylesheet" href="skins/blue.css">
<!-- skin color -->
<link rel="stylesheet" href="responsive.css">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<!-- HIDDEN PANEL 
================================================== -->
<div id="panel">
	<div class="row">
		<div class="twelve columns">
			<img src="http://www.wowthemes.net/demo/studiofrancesca/images/info.png" class="pics" alt="info">
			<div class="infotext">
				--- CEO: Cảm ơn đã đến với website của chúng tôi!---<br>
				<a href="/admin" target="blank">Đăng nhập</a>
			</div>
		</div>
	</div>
</div>
<p class="slide">
	<a href="#" class="btn-slide"></a>
</p>
<!-- HEADER
================================================== -->
<div class="row">
	<div class="headerlogo four columns">
		<div class="logo">
			<a href="/contact">
			<h4>Liên hệ</h4>
			</a>
		</div>
	</div>
	<div class="headermenu eight columns noleftmarg">
		<nav id="nav-wrap">
		<ul id="main-menu" class="nav-bar sf-menu">
			<li class="current">
				<a href="/trangnhat">Trang nhất</a>
			</li>
			<li>
				<a href="/xahoi">Xã hội</a>
			</li>
			<li>
				<a href="/phapluat">Pháp luật</a>
			</li>
			<li>
				<a href="/giaoduc">Giáo dục</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">
				THÔNG TIN CỦA CHÚNG TÔI
			</p>
			<p class="right">
				GẶP ĐỘI CHÚNG TÔI
			</p>
		</div>
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
    <!-- MAIN CONTENT-->
	<div class="eight columns">
	    <!-- Our History-->
		<div class="sectiontitle">
			<h4>Một vài lời</h4>
		</div>
		<p>
			Thông tin phản ánh sự phát triển của con người, sử dụng <b> công nghệ</b> đúng cách để khai thác dữ liệu, thông tin sẽ làm cuộc sống trở lên dễ dàng hơn.
		</p>
		<p>
			Hệ thống thu thập dữ liệu của chúng tôi hoàn toàn tự động, được thiết kế tương thích trên hầu hết các thiết bị!
		</p>
		
		<p>
			Tại đây đội của chúng tôi kết hợp thu thập, phân tích và xác định xu hướng của các đối tượng xuất hiện trong thông tin.
		</p>
		<br/>
		<!-- Accordion-->
		<dl class="tabs">
			<dd class="active"><a href="#simple1">Tại sao làm</a></dd>
			<dd><a href="#simple2">How we work</a></dd>
			<dd><a href="#simple3">Completion time</a></dd>
			<dd><a href="#simple3">Prices and budget</a></dd>
		</dl>
		<ul class="tabs-content">
			<li class="active" id="simple1Tab">
			<p>
				Đơn giản là tạo ra một ứng dụng tin tức.
			</p>
			<p>
				Phức tạp hơn là chúng tôi sẽ thu thập và phân tích chúng.
			</p>
		</ul>

		<div class="panel">
			<p>
				<b>Nhưng dữ liệu mà không được phân tích thì cũng chẳng có mấy giá trị, và đây là một khía cạnh khác của quá trình phân tích Big Data. Sự phân tích này được nói đến với ý nghĩa khai thác dữ liệu, và người dùng cố gắng tìm kiếm những mảng và những bất thường trong các cơ sở dữ liệu cực lớn này. Các mảng dữ liệu này sau đó lại sinh ra thông tin được sử dụng cho nhiều mục đích khác nhau, như là nâng cao hiệu quả của các chiến dịch marketing sản phẩm, tăng lượng bán hay cắt giảm chi phí. Big Data và phương thức khai thác dữ liệu không chỉ có sức mạnh to lớn trong việc giúp làm biến đổi các ngành và hoạt động, mà thực sự nó đã làm được như vậy..</b>
			</p>
			<p class="text-right">
				<i>Quang Nguyễn, Dev at "Qtalk"</i>
			</p>
		</div>
	</div><!-- end main content-->

	<!-- SIDEBAR-->
	<div class="four columns">
		<div class="teamwrap teambox">
			<img src="/images/quang.png" alt="">
			<div class="mask">
				<h2>Quang Nguyễn</h2>
				<p>
					JAVASCRIPTS - PHP - JAVA DEV
					<div class="social socialteam facebook">
						<a href="#"></a>
					</div>
					<div class="social socialteam twitter">
						<a href="#"></a>
					</div>
					<div class="social socialteam deviantart">
						<a href="#"></a>
					</div>
					<div class="social socialteam flickr">
						<a href="#"></a>
					</div>
					<div class="social socialteam dribbble">
						<a href="#"></a>
					</div>
				</div>
			</div>
			
	</div><!-- end sidebar -->
</div>
<div class="hr">
</div>

<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>CHÚNG TÔI</h1>
		Luôn tìm kiếm thông tin cho bạn!
	</div>
	<div class="four columns">
		<h1>MẠNG XÃ HỘI</h1>
		<a class="social facebook" href="#"></a>
		<a class="social twitter" href="#"></a>
		<a class="social deviantart" href="#"></a>
		<a class="social flickr" href="#"></a>
		<a class="social dribbble" href="#"></a>
	</div>
	<div class="four columns">
		<h1 class="newsmargin">NHẬN TIN</h1>
		<div class="row collapse newsletter floatright">
			<div class="ten mobile-three columns">
				<input type="text" class="nomargin" placeholder="Địa chỉ Email của bạn...">
			</div>
			<div class="two mobile-one columns">
				<a href="#" class="postfix button expand">GỬI</a>
			</div>
		</div>
	</div>
	</footer>
</div>
<div class="copyright">



	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright Q-talk network</span>
		</div>
		<div class="six columns">
			<span class="small floatright">Design by <a target="_blank" href="http://qtalkplus.freevnn.com">Q-talk Library</a> </span>
		</div>
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->
<script src="foundation.min.js"></script>
<script src="jjquery.easing.1.3.js"></script>
<script src="elasticslideshow.js"></script>
<script src="jquery.carouFredSel-6.0.5-packed.js"></script>
<script src="jquery.cycle.js"></script>
<script src="app.js"></script>
<script src="modernizr.foundation.js"></script>
<script src="slidepanel.js"></script>
<script src="scrolltotop.js"></script>
<script src="hoverIntent.js"></script>
<script src="superfish.js"></script>
<script src="responsivemenu.js"></script>
</body>
</html>